# Mistral
MISTRAL_API_KEY=your_mistral_api_key_here

# MongoDB
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/wbs

# Gmail OAuth
GMAIL_SENDER=your_gmail@gmail.com
GMAIL_CLIENT_ID=your_client_id.apps.googleusercontent.com
GMAIL_CLIENT_SECRET=your_client_secret
GMAIL_REFRESH_TOKEN=your_refresh_token

# API Base URL (switch between local and server)
API_BASE_URL=http://127.0.0.1:8000
# API_BASE_URL=https://yourdomain.com

# Output folder (temp local files)
OUTPUT_FOLDER=outputs
